<div class="container">
    <div class="footer-display">
        <div class="credits">
            <p><a routerLink="#">Remerciements</a></p>
        </div>

        <div class="social">
            <a href="https://www.linkedin.com/in/victor-noon-550883105/" target="_blank" rel="noopener noreferrer"><img class="icon" src="../../assets/images/svg/linkedInImg-no-borders.svg"></a>
            <a href="https://github.com/search?q=victornoon&type=repositories" target="_blank" rel="noopener noreferrer"><img class="icon" src="../../assets/images/png/GitHub-Mark-Light-64px.png"></a>
        </div>
        <div class="privacy-policy">
            <p><a routerLink="#">Privacy Policy</a></p>
        </div>
    </div>
</div>