$primary-color: #272728;
$primary-color-light: #39393e;
$primary-color-dark: #151516;

$secondary-color: hsl(39, 100%, 54%);
$secondary-color-light: #ffff91;
$secondary-color-dark: #c4b12c;

$light-font: #eae9ef;
$dark-font: #04002b;