$primary-color: #272728;
$primary-color-light: #39393e;
$primary-color-dark: #151516;

$secondary-color: hsl(39, 100%, 54%);
$secondary-color-light: hsl(39, 77%, 75%);
$secondary-color-dark: hsl(39, 85%, 42%);

$light-font: #eae9ef;
$dark-font: #04002b;