$primary-color: #0f00ef;
$primary-color-light: #7040ff;
$primary-color-dark: #0000bb;

$secondary-color: #fae35f;
$secondary-color-light: #ffff91;
$secondary-color-dark: #c4b12c;

$light-font: #faf9ff;
$dark-font: #04002b;