<div class="container">
  <div class="home">
    <div id="home-top"></div>
    <div>
      <div class="top" id="top-image">
        <img src="./assets/images/jpg/keyboardHD.jpg" />
        <div class="title-name">
          <h2>Victor L. NOON</h2>
          <h1>
            <app-multy-language-title
              frTitle="Développeur"
              enTitle="Developer"
            ></app-multy-language-title>
          </h1>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="body" id="body">
        <img
          src="./assets/images/svg/background card.svg"
          id="body-background-image"
        />
        <div class="who-am-i">
          <div class="bio" id="who-am-i">
            <h3>
              <app-multy-language-title
                frTitle="Qui suis-je ?"
                enTitle="Who am I ?"
              >
              </app-multy-language-title>
            </h3>
            <app-multy-language-text
              frTxt="Je suis un étudiant développeur généraliste réalisant sa dernière année à l'école 42. Actuellement à la recherche du stage qui mettra un point final à ses études et ses premiers pas en tant que développeur à part entière dans le monde du travail.

			Je suis également franco-britannique et bilingue."
              enTxt="I am a Student at school 42 in Paris. Currently on my final year, I am looking for an Internship in order to graduate and take my first formal step as a developper.

			I am both a French and UK citizen and fluent in both languages."
            ></app-multy-language-text>
          </div>
        </div>
        <div class="time-line" id="time-line">
          <h3>
            <app-multy-language-title frTitle="Parcours" enTitle="Life journey">
            </app-multy-language-title>
          </h3>
          <app-time-line></app-time-line>
        </div>

        <div class="skills" id="skills">
          <h3>
            <app-multy-language-title frTitle="Compétences" enTitle="Skills">
            </app-multy-language-title>
          </h3>
          <div class="skill-section-organiser">
            <div class="skill-section">
              <h4>
                <app-multy-language-title
                  frTitle="Langages de programmation"
                  enTitle="Programming Languages"
                >
                </app-multy-language-title>
              </h4>
              <div class="skill-list-display">
                <app-skill-display
                  skillName="C"
                  skillLevel="4"
                ></app-skill-display>
                <app-skill-display
                  skillName="C++"
                  skillLevel="4"
                ></app-skill-display>
                <app-skill-display
                  skillName="C#"
                  skillLevel="5"
                ></app-skill-display>
                <app-skill-display
                  skillName="JS/TS"
                  skillLevel="3"
                ></app-skill-display>
                <app-skill-display
                  skillName="Python"
                  skillLevel="3"
                ></app-skill-display>
                <app-skill-display
                  skillName="Java"
                  skillLevel="3"
                ></app-skill-display>
              </div>
            </div>
            <div class="skill-section">
              <h4>
                <app-multy-language-title frTitle="Outils" enTitle="Tools">
                </app-multy-language-title>
              </h4>
              <div class="skill-list-display">
                <app-skill-display
                  skillName="Unity"
                  skillLevel="4"
                ></app-skill-display>
                <app-skill-display
                  skillName="Angular"
                  skillLevel="3"
                ></app-skill-display>
                <app-skill-display
                  skillName="NodeJS"
                  skillLevel="2"
                ></app-skill-display>
                <app-skill-display
                  skillName=".NET"
                  skillLevel="2"
                ></app-skill-display>
                <app-skill-display
                  skillName="GIT"
                  skillLevel="4"
                ></app-skill-display>
              </div>
            </div>
            <div class="skill-section">
              <h4>
                <app-multy-language-title
                  frTitle="Langues"
                  enTitle="Spoken languages"
                >
                </app-multy-language-title>
              </h4>
              <div class="skill-list-display">
                <app-skill-display
                  skillName="Francais"
                  skillLevel="6"
                ></app-skill-display>
                <app-skill-display
                  skillName="Anglais"
                  skillLevel="6"
                ></app-skill-display>
                <app-skill-display
                  skillName="Espagnol"
                  skillLevel="2"
                ></app-skill-display>
                <app-skill-display
                  skillName="Japonais"
                  skillLevel="1"
                ></app-skill-display>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio" id="portfolio">
          <h3>
            <app-multy-language-title
              frTitle="Mes réalisations"
              enTitle="My projects"
            >
            </app-multy-language-title>
          </h3>
          <div class="portfolio-entry">
            <h4>Gory Bugs</h4>
            <app-multy-language-text
              frTxt="Recréation du classique jeu Flappy Birds, mais avec une ambiance halloween, doté d'un system de skin, de score et d'une intégration publicitaire.

			Ce projet avait pour but de se familiariser sur un cycle complet de développement d'un jeu. Ceci allant du développement à l'habillage graphique et sonore afin de créer un design cohérent en usant d'asset Creative Common.
			Les aspects de droit à la propriété intellectuelle, ayant été un point central de cette démarche.

			Les notions de monétisation ont aussi été explorer, et ce via l'ajout de publicités offrant des récompenses afin de créer un jeu où la nécessité de regarder des publicités est absente pour tout débloquer mais où accepter d'en regarder permet d'avancer plus vite.

			Le portage sur mobile, l'installation de la démo sur mobile afin de faire des tests en situation a été réalisé. Le jeu est prêt à la mise en ligne sur un store.

			Vous trouverez ci-dessous une version WebGL du projet, sans la monétisation (car restreintes aux supports mobiles et tablettes pour l'instant)."
              enTxt="Recreation of the classic Flappy Birds game, but with a Halloween vibe, featuring a skin system, score and advertising integration.

			This project purpose was to get acquainted with a complete game development cycle. This goes from development to graphic and sound design in order to create a cohesive design using Creative Common assets.

			Monetization have also been studied and implemented via rewarded ads in order to create a game where there is no need to watch advertisements in order to unlock everything but where accepting to watch them allows a faster progression.

			A porting to mobile, the installation of the final produce on mobile in order to carry out live tests has been carried out. The game is ready to go live on a store.

			You will find below a WebGL version of the project, without the monetization (because it is restricted to mobile devices and tablets at the time being)."
            >
            </app-multy-language-text>
            <div class="simmer-io-elem">
              <iframe
                src="https://i.simmer.io/@ArmoredPangolin/gory-bugs"
              ></iframe>
            </div>
          </div>
          <div class="portfolio-entry">
            <h4>
              <app-multy-language-title frTitle="Site CV" enTitle="Web CV">
              </app-multy-language-title>
            </h4>
            <app-multy-language-text
              frTxt="Ce site ici-présent.

				Ce projet  m'a permis d'apprendre les fondamentaux d'Angular NodeJS et JavaScript/TypeScript. Ce site m'a aussi permis d'apprendre et de me sensibiliser à bien des choses en terme de communication et design visuelle, par exemple la lisibilité du style graphique au personnes malvoyantes, ou l'adaptabilité du site au différents supports (ordinateur, tablette, téléphone...).

				J'ai aussi obtenue des connaissances pratiques en terme de single page application, comment faire un routing, et les autres aspects fondamentaux du développement Front-end."
              enTxt="This website.

				This project allowed me to learn the fundamentals of Angular NodeJS and JavaScript/TypeScript.It also allowed me to learn and make myself aware of many things in terms of communication and visual design, for example the readability of the graphic style for visually impaired people, or the adaptability of the site to different media (computer, tablet , telephone...).

				I also gained practical knowledge in terms of single page application, how to do routing, and other fundamental aspects of Front-end development."
            >
            </app-multy-language-text>
            <p></p>
          </div>
        </div>

        <div class="contact" id="contact">
          <h3>
            <app-multy-language-title
              frTitle="Contactez-moi"
              enTitle="Contact me"
            >
            </app-multy-language-title>
          </h3>
          <div class="infos" id="infos">
            <div class="info-card">
              <h4>E-Mail</h4>
              <p>victor.lawrence.noon@gmail.com</p>
            </div>
            <div class="info-card">
              <h4>
                <app-multy-language-title
                  frTitle="Téléphone"
                  enTitle="Phone"
                ></app-multy-language-title>
              </h4>
              <p>+33 7 68 45 59 35</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
