<div class="container">
  <div class="home">
    <div id="home-top"></div>
    <div>
      <div class="top" id="top-image">
        <img src="../../assets/images/jpg/keyboardHD.jpg"/>
        <div class="title-name">
          <h2>Victor NOON</h2>
          <h1>Développeur</h1>
        </div>
      </div>
      <div class="body" id="body">
        <img src="../../assets/images/svg/background card.svg" id="body-background-image"/>
        <div class="who-am-i" id="who-am-i">
          <div class="bio">
            <h3>Qui suis-je ?</h3>
            <p>
              Je suis un développeur full stack, connaisseur en tout maitre en
              rien et avide d'apprendre et de résoudres des défis. Lorem ipsum
              et dolor...
            </p>
          </div>
          <div class="infos" id="infos">
            <div class="info-card">
              <h4>Pays</h4>
              <p>France</p>
            </div>
            <div class="info-card">
              <h4>Mail</h4>
              <p>victor.lawrence.noon@gmail.com</p>
            </div>
            <div class="info-card">
              <h4>Téléphone</h4>
              <p>+33 7 68 45 59 35</p>
            </div>
          </div>
        </div>
        
        <div class="time-line">
          <h3>Mon parcours</h3>
          <app-time-line></app-time-line>
        </div>
        <div class="skills">
          <p>To do: skills</p>
        </div>
        <div class="portfolio">
          <p>To do: portfolio</p>
        </div>
        <div class="contact">
          <p>To do: contact</p>
        </div>
      </div>
    </div>
  </div>
</div>
